<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet" href="../static/css/style.css"
          th:href="@{/resources/static/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="../static/img/favicon.png"
          th:href="@{/resources/static/img/favicon.png}">
    <meta charset="UTF-8">
    <title>Error</title>
</head>

<body>
<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm text-light p-1">
        <div class="container-fluid">
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/" class="navbar-brand"><img src="../static/img/train.svg"
                                                  th:src="@{/resources/static/img/train.svg}"
                                                  height="32" width="32" alt="TP"></a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="trains.html"
                           th:href="@{/trains}">Trains</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="passengers.html"
                           th:href="@{/passengers}">Passengers</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <nav id="main-header"
         class="ps-1 py-1 mb-3 navbar navbar-light bg-light text-dark">
        <div class="container-fluid">
            <span class="navbar-brand text-uppercase">Error</span>
        </div>
    </nav>
</header>

<!--cut from here-->
<!--this piece of code based on code was written by great software engineer Artsiom Prokharau.-->
<!--all possible rights violated.-->
<section id="message">
    <div class="container-xl">
        <div class="row align-items-center">
            <div class="col-8">
                <h3>Something went wrong....</h3>
                <p class="h5" th:text="${errorMessage}">This URL was wrong.</p>
            </div>
            <div class="col-sm-4">
                <img src="../static/img/lost.svg" class="d-block w-100"
                     th:src="@{/resources/static/img/lost.svg}" width="150" height="150"
                     alt="...">
            </div>
        </div>
    </div>
    <!--cut to here-->

</section>

<footer>
    <hr/>
    <p class="text-center">&copy; 2021 Trains & Passengers</p>
</footer>

<script src="../static/js/bootstrap.bundle.min.js"
        th:src="@{/resources/static/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
