<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet" href="../static/css/style.css"
          th:href="@{/resources/static/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="shortcut icon" th:href="@{/resources/static/img/favicon.png}">
    <meta charset="UTF-8">
    <title>Train</title>
</head>
<body>

<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm text-light p-1">
        <div class="container-fluid">
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/" class="navbar-brand"><img src="../static/img/train.svg"
                                                  th:src="@{/resources/static/img/train.svg}"
                                                  height="32" width="32" alt="TP"></a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="trains.html"
                           th:href="@{/trains}">Trains</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="passengers.html"
                           th:href="@{/passengers}">Passengers</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <nav id="main-header"
         class="ps-1 py-1 mb-3 navbar navbar-light bg-light text-dark">
        <ul class="navbar-nav float-start">
            <li class="nav-item" title="Back to list">
                <a href="trains.html"
                   th:href="@{/trains}"
                   class="btn btn-light btn-block"><i class="bi-arrow-left"></i></a>
            </li>
        </ul>
        <span class="navbar-brand text-uppercase me-auto"
              th:text="${isNew} ? 'Add new train' : 'Edit train'"
        >Edit Train</span>
    </nav>
</header>

<section id="train">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <form id="trainForm"
                              th:object="${train}"
                              action="trains.html"
                              th:action="@{${#httpServletRequest.servletPath}}"
                              th:method="@{post}">
                            <input id="field_trainId"
                                   type="hidden"
                                   th:field="*{trainId}">
                            <div class="mb-3">
                                <label class="form-label"
                                       for="field_trainName">Train name:</label>
                                <input class="form-control"
                                       id="field_trainName"
                                       type="text"
                                       value="midnight"
                                       th:field="*{trainName}"/>
                            </div>
                            <div class="mb-3">
                                <label class="form-label"
                                       for="field_trainName">Train destination:</label>
                                <input class="form-control"
                                       id="field_trainDestination"
                                       type="text"
                                       value="midnight"
                                       th:field="*{trainDestination}"/>
                            </div>
                            <div class="mb-3">
                                <label class="form-label"
                                       for="field_trainDeparture">Departure date:</label>
                                <div class="input-group date">
                                    <input id="hiddenDate"
                                           type="hidden"
                                           value="2014-04-03"
                                           th:field="*{trainDepartureDate}">
                                    <input id="field_trainDeparture"
                                           type="date"
                                           class="form-control"
                                           onchange="convertDateToBack('field_trainDeparture');">
                                    <script>
                                        document.getElementById('field_trainDeparture').value =
                                            document.getElementById('hiddenDate').value
                                            .split("/").reverse().join("-");
                                    </script>
                                </div>
                            </div>
                            <div class="mb-3">
                                <a href="trains.html"
                                   th:href="@{/trains}"
                                   class="btn btn-light me-1"
                                   title="Cancel">Cancel</a>
                                <a href="trains.html"
                                   th:href="@{/trains}"
                                   th:onclick="@{document.forms['trainForm'].submit(); return false;}"
                                   class="btn btn-primary"
                                   title="Save train">Save</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<footer>
    <hr/>
    <p class="text-center">&copy; 2021 Trains & Passengers</p>
</footer>

<script src="../static/js/bootstrap.bundle.min.js"
        th:src="@{/resources/static/js/bootstrap.bundle.min.js}"></script>

<script>
    function convertDateToBack(fieldName) {
        inDate = document.getElementById(fieldName).value;
        console.log(inDate);
        var outputDate = inDate.split("-").reverse().join("/");
        console.log(outputDate);
        document.getElementById('hiddenDate').value = outputDate;
    }
</script>
</body>
</html>
