<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet" href="../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="shortcut icon" th:href="@{/resources/static/img/favicon.png}">
    <meta charset="UTF-8">
    <title>Trains</title>
</head>

<body>
<header>
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm text-light p-1">
        <div class="container-fluid">
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/" class="navbar-brand"><img src="../../resources/static/img/train.svg"
                                                  th:src="@{/resources/static/img/train.svg}"
                                                  height="32" width="32" alt="TP"></a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="trains.html"
                           th:href="@{/trains}">Trains</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="passengers.html"
                           th:href="@{/passengers}">Passengers</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <nav id="main-header"
         class="ps-1 py-1 mb-3 navbar navbar-light bg-light text-dark">
        <div class="container-fluid">
            <span class="navbar-brand text-uppercase">Trains</span>
            <ul class="navbar-nav ">
                <li class="nav-item" title="Add train">
                    <a href="train.html"
                       th:href="@{/train}"
                       class="btn btn-light" title="Add train">
                        <i class="bi-plus"></i>&nbsp;<span class="d-none d-sm-inline">Add</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<section id="trains">
    <div class="container-fluid">
        <div class="row">
            <div class="col">

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <input id="hiddenDateStart"
                                   type="hidden">
                            <input id="hiddenDateEnd"
                                   type="hidden">
                            <div class="col-auto">
                                Start:<input type="date" id="dateStart"
                                             name="dateStart" placeholder="Date"
                                             onchange="setFilterBegin();">
                            </div>
                            <div class=" col-auto">
                                end:<input type="date" id="dateEnd"
                                           name="dateEnd" placeholder="Date"
                                           onchange="setFilterEnd();">
                            </div>
                            <div class=" col-auto">
                                <a href="#" th:href="@{/trains}" class="btn btn-primary" id="filterSetButton"
                                >Apply</a>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table table-striped">
                    <thead class="table-dark">
                    <tr>
                        <th>Train name</th>
                        <th>Destination name</th>
                        <th>Departure</th>
                        <th>Passengers</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="train : ${trains}">
                        <td th:text="${train.trainName}">west</td>
                        <td th:text="${train.trainDestination}">11.11.2011</td>
                        <td th:text="${train.trainDepartureDate}">11.11.2011</td>
                        <td th:text="${train.trainPassengerCount}">1</td>
                        <td class="text-end">
                            <a href="train.html"
                               th:href="@{|/train/${train.trainId}|}"
                               class="btn-sm btn-outline-secondary"
                               title="Edit train">
                                <i class="bi-pen"></i><span class="d-none d-md-inline">&nbsp;Edit</span></a>
                            <span data-bs-toggle="modal" data-bs-target="#deleteDialog"
                                  th:attr="data-id=${train.trainId},data-name=${train.trainName},data-count=${train.trainPassengerCount}">
                                    <a href="#" class="btn-sm btn-outline-secondary"
                                       title="Delete train"><i class="bi-x"></i><span
                                            class="d-none d-md-inline">&nbsp;Delete</span>
                                    </a>
                                </span>
                        </td>
                    </tr>
                    <tr th:remove="all">
                        <td>east</td>
                        <td>08.08.2008</td>
                        <td>08.08.2008</td>
                        <td>2</td>
                        <td class="text-end">
                            <a href="train.html"
                               th:href="@{/train/2}"
                               class="btn-sm btn-outline-secondary"
                               title="Edit train">
                                <i class="bi-pen"></i><span class="d-none d-md-inline">&nbsp;Edit</span></a>
                            <span data-bs-toggle="modal" data-bs-target="#deleteDialog">
                                    <a href="#" class="btn-sm btn-outline-secondary"
                                       title="delete train"><i class="bi-x"></i><span
                                            class="d-none d-md-inline">&nbsp;Delete</span>
                                    </a>
                                </span>
                        </td>
                    </tr>
                    <tr th:remove="all">
                        <td>down</td>
                        <td>01.01.1970</td>
                        <td>01.01.1970</td>
                        <td>42</td>
                        <td class="text-end">
                            <a href="train.html"
                               th:href="@{/train/3}"
                               class="btn-sm btn-outline-secondary"
                               title="Edit train">
                                <i class="bi-pen"></i><span class="d-none d-md-inline">&nbsp;Edit</span></a>
                            <span data-bs-toggle="modal" data-bs-target="#deleteDialog">
                                    <a href="#" class="btn-sm btn-outline-secondary"
                                       title="delete train"><i class="bi-x"></i><span
                                            class="d-none d-md-inline">&nbsp;Delete</span>
                                    </a>
                                </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<footer>
    <hr/>
    <p class="text-center">&copy; 2021 Trains & Passengers</p>
</footer>

<!-- Confirm delete Modal -->
<div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-danger">
                <h5 class="modal-title" id="exampleModalLabel">Delete train</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Please confirm delete
            </div>
            <div class="modal-footer">
                <a id="cancelBtn" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</a>
                <a id="deleteBtn" class="btn btn-danger" href="#">Delete</a>
            </div>
        </div>
    </div>
</div>

<script src="../../resources/static/js/bootstrap.bundle.min.js"
        th:src="@{/resources/static/js/bootstrap.bundle.min.js}"></script>
<script src="../../resources/static/js/jquery-3.4.1.slim.min.js"
        th:src="@{/resources/static/js/jquery-3.4.1.slim.min.js}"></script>
<script>
        $('#deleteDialog').on('show.bs.modal', function (event) {
        var target = $(event.relatedTarget)

        if (target.data('count')>0) {
            $(this).find('.modal-body').text('Unfortunately, you cannot delete the "' + target.data('name') + '" train. First you need to remove all passengers.');
            document.getElementById('deleteBtn').style.visibility="collapse";
            document.getElementById('cancelBtn').textContent="Got it";
        } else {
            document.getElementById('deleteBtn').href = '/train/' + target.data('id') + '/delete';
            $(this).find('.modal-body').text('Are you really want to delete train: "' + target.data('name') + '" ?')
            document.getElementById('deleteBtn').style.visibility="visible";
            document.getElementById('cancelBtn').textContent="Cancel";
        }
    })
</script>

<script>
    function convertDateToBack(inputFieldName, outputFieldName) {
        console.log(inputFieldName);
        console.log(outputFieldName);
        inDate = document.getElementById(inputFieldName).value;
        console.log(inDate);
        var outputDate = inDate.split("-").reverse().join("/");
        console.log(outputDate);
        document.getElementById(outputFieldName).value = outputDate;
    }

    function setFilterBegin() {
        convertDateToBack('dateStart', 'hiddenDateStart')
        document.getElementById('dateEnd').min = document.getElementById('dateStart').value;
        setFilterUrl();
    }

    function setFilterEnd() {
        convertDateToBack('dateEnd', 'hiddenDateEnd')
        document.getElementById('dateStart').max = document.getElementById('dateEnd').value;
        setFilterUrl();
    }

    function setFilterUrl() {
        var currentUrl = new URL(document.getElementById('filterSetButton').href);
        currentUrl.searchParams.set('dateStart',document.getElementById('hiddenDateStart').value);
        currentUrl.searchParams.set('dateEnd',document.getElementById('hiddenDateEnd').value);
        console.log(currentUrl);
        document.getElementById('filterSetButton').href = currentUrl.href;
    }
</script>

</body>
</html>
